<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.projetoapp.sharepages">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sharepages"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.TelaInicial"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.CadastroUsuario"
            android:label="@string/title_activity_cadastro_usuario" />
        <activity
            android:name=".gui.MenuPrincipal"
            android:label="@string/title_activity_menu_principal" />
        <activity
            android:name=".gui.PerfilDeUsuario"
            android:label="@string/title_activity_perfil_de_usuario" />
        <activity
            android:name=".gui.CadastroLivro"
            android:label="@string/cadastrar_livro" />
        <activity
            android:name=".gui.MinhaPrateleira"
            android:label="@string/title_activity_minhaPrateleira" />
        <activity
            android:name=".gui.PerfilDeLivro"
            android:label="@string/title_activity_perfil_de_livro" />
        <activity
            android:name=".gui.ColecaoDisponivel"
            android:label="@string/title_activity_colecao_disponivel" />
        <activity
            android:name=".gui.TelaAnuncio"
            android:label="@string/title_activity_tela_anuncio"></activity>
    </application>

</manifest>